$white: #ffffff;
$black: #24292f;
$primary: #cd2527;
$secondary: #1f475a;

$elementSpacing: 1.5rem;
$pageVerticalPadding: 6rem;
$pageHorizontalPadding: 1rem;

$breakpoint_M_minWidth: 768px;
$breakpoint_L_minWidth: 1280px;

$borderRadius: 2rem;
