@use "params" as *;
@forward "typo";
@forward "utility";

//Utility classes
.centerText {
  text-align: center;
}

.App {
  .testimonialsBox {
    padding: $pageVerticalPadding $pageHorizontalPadding;
    .testimonial {
      margin: 3rem 0;
      img {
        border-radius: 50%;
        width: 12rem;
        height: 12rem;
      }
      .signature {
        font-size: 1.25rem;
        color: $black;
        font-weight: bold;
        margin: 0;
      }
      .titres {
        color: $black;
        font-size: 1rem;
        font-weight: normal;
        margin: 0;
      }
    }
  }
}
