@import "../../sass/params";

.brand {
  width: fit-content;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  p {
    margin: 0;
    white-space: nowrap;
    &.name {
      color: $primary;
      &.whiteColorName {
        color: $white;
      }
    }
    &.sub {
      // font-style: italic;
      color: $black;
      width: 100%;
      text-align: end;
    }
  }
}
