@use "../../sass/params" as *;
@use "../../sass/mixins" as *;

.footer {
  background: $primary;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include large() {
    flex-wrap: nowrap;
  }
  justify-content: space-between;

  .brand {
    flex: 1 1 40%;
    @include large() {
      flex: 1 1 30%;
    }
  }
  .linksbox {
    flex: 1 1 40%;
    display: flex;
    justify-content: flex-end;
    @include large() {
      flex: 1 1 30%;
      justify-content: center;
    }
    gap: min(5vw, 90px);
    svg {
      fill: $white;
      width: min(5vw, 90px);
      height: min(5vw, 90px);
    }
  }
  .links {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    @include large() {
      flex: 1 1 30%;
      flex-direction: column;
      justify-content: flex-end;
    }
    a {
      white-space: nowrap;
      text-align: right;
      color: $white;
    }
  }
}
