@use "../../sass/params" as *;
@use "../../sass/mixins" as *;
.hero {
  .intro {
    text-align: center;
    background-color: $white;

    figure {
      display: none;
      @include large() {
        display: block;
      }
      margin-top: 5vw;
      .portrait {
        margin: 0 auto;
        max-width: 22rem;
        @media (min-width: 48rem) {
          max-width: 36rem;
        }
        border-radius: $borderRadius;
        overflow: hidden;
        border: 0.25rem solid $primary;
      }
    }
  }
  .pictureContainer {
    margin-top: 5vw;
    vertical-align: bottom;
    svg.coding {
      width: min(45vw, 35rem);
      vertical-align: bottom;
      fill: $primary;
    }
  }
  .pitch {
    padding: $pageVerticalPadding 0;
    color: $white;
    background-color: $primary;
    a {
      color: $white;
    }
    * {
      margin-left: auto;
      margin-right: auto;
      max-width: 22rem;
      @media (min-width: 768px) {
        max-width: 36rem;
      }
    }
  }
}
