@use "../../sass/params" as *;
@use "../../sass/mixins" as *;
.hero {
  .intro {
    text-align: center;
    background-color: $white;
  }
  .pictureContainer {
    margin-top: 5vw;
    vertical-align: bottom;
    svg.coding {
      width: min(30vw, 35rem);
      vertical-align: bottom;
      fill: $primary;
    }
  }
  .pitch {
    color: $white;
    background-color: $primary;
    .pitch__container {
      display: flex;
      justify-content: center;

      h2,
      a,
      p {
        color: white;
      }
      figure {
        display: none;
        @include large() {
          display: block;
        }
        .portrait {
          margin: 0 auto;
          max-width: 22rem;
          @media (min-width: 48rem) {
            max-width: 36rem;
          }
          border-radius: $borderRadius;
          overflow: hidden;
          border: 0.25rem solid $white;
        }
      }
    }
  }
}
