@use "../../sass/params" as *;
@use "../../sass/fonts" as *;

.liveMarker {
  @extend .accent-font;
  letter-spacing: 0.125em;
  color: $white;
  background: $primary;
  padding: 0.125em 0.25em;
  border-radius: 2px;

  -webkit-box-shadow: inset 0px 0px 8px 4px fade-out($primary, 0.4);
  box-shadow: 0px 0px 8px 4px fade-out($primary, 0.4);
}
