@use "../../sass/params" as *;
@use "../../sass/mixins" as *;

.main {
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include medium() {
    flex-direction: row;
  }

  gap: min(5vw, 90px);

  .picture {
    width: 80%;
    height: fit-content;
    flex: 1 1 30%;
    @include medium() {
      margin: 0;
    }
    box-shadow: 0 0 16px 2px fade-out($primary, 0.4);
  }
  .pitch {
    flex: 1 1 60%;
    a {
      display: flex;
      align-items: center;

      svg {
        fill: $secondary;
        width: min(3vw, 90px);
        height: min(3vw, 90px);
      }
    }
  }
}
