@import "../../sass/params";

.card {
  overflow: hidden;
  margin: 0 auto;

  @media (min-width: 40rem) {
    width: clamp(16rem, 38vw, 25rem);
  }
  @media (min-width: 64rem) {
    width: clamp(18rem, 30vw, 30rem);
  }
  display: flex;
  flex-direction: column;
  border-radius: $borderRadius;
  border: 2px solid $primary;
  .thumbnail {
    //TODO max-heig
    position: relative;
    aspect-ratio: 4/3;
  }
  .githubcornericon {
    width: clamp(3rem, 20%, 5rem);
    position: absolute;
    top: 0;
    right: 0;
    svg {
      path {
        fill: $black;
      }
      path + path {
        fill: $white;
      }
    }
    filter: drop-shadow(-1px 1px 1px $white);
  }
  .liveicon {
    position: absolute;
    bottom: 0.25rem;
    left: 0.25rem;
  }

  .content {
    background: $white;
    padding: 1em;
    .keywordscontainer {
      max-height: 4.25em;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      gap: 0.25em;
      align-items: flex-start;
      .keyword {
        margin: 0;
        font-weight: bold;
        padding: 0.5em 1em;
        border-radius: 20em;
        color: $white;
        background: $secondary;
      }
      .ellipsis {
        margin: 0;
        //       font-size: 0.8rem;
        padding: 0.5em 1em;
      }
    }
    .title {
      // margin-bottom: 0;
    }
    .description {
      white-space: pre-wrap;
      margin: 0;
      //     font-size: 0.9rem;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      * {
        margin: 0;
        //font-size: 1.2rem;
      }
      ul {
        padding-left: 0.5em;
        list-style: inside;
      }
    }
  }
}
