@use "../../sass/params" as *;
@use "../../sass/mixins" as *;

.main {
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include medium() {
    flex-direction: row;
  }

  gap: min(5vw, 90px);

  .keywordscontainer {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
    align-items: flex-start;
    .keyword {
      margin: 0;
      //        font-size: 0.8rem;
      font-weight: bold;
      padding: 0.5em 1em;
      border-radius: 20em;
      color: $white;
      background: $secondary;
    }
  }
  .picture {
    width: 80%;
    height: fit-content;
    flex: 1 1 30%;
    @include medium() {
      margin: 0;
    }
    box-shadow: 0 0 16px 2px fade-out($secondary, 0.4);
  }
  .pitch {
    flex: 1 1 60%;
    a {
      display: flex;
      align-items: center;

      svg {
        display: inline-block;
        width: min(3vw, 90px);
        height: min(3vw, 90px);
        margin-inline: min(3vw, 90px);
        fill: $secondary;
      }
    }
  }
}
