@use "../../sass/params" as *;
@use "../../sass/mixins" as *;
@use "../../sass/utility" as *;

.portfolio {
  margin-top: 5vw;
  > p {
    text-align: center;
  }

  .title {
    color: $primary;
    text-align: center;
  }
  .portfolioIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > * {
      white-space: pre;
      text-align: center;
    }
    @include medium() {
      flex-direction: row;
    }
  }
  .rewrapswiper {
    display: flex;
    align-items: center;
    gap: min(5vw, 2rem);

    .nav__next,
    .nav__prev {
      --swiper-navigation-color: #{$primary};
      --swiper-navigation-size: 5vw;
      position: relative;
      @include medium() {
        display: none;
      }
    }
    .swiper {
      @extend .padding2rem; //Padding necessary to avoid 3D coverflow effect overlap hidden

      :global(.swiper-pagination) {
        position: relative;
      }
      :global(.swiper-pagination-bullet) {
        width: min(2vw, 2rem);
        height: min(2vw, 2rem);
        margin-inline: min(3vw, 3rem);
        border: 3px solid $primary;
        border-radius: 50%;
        background-color: transparent;
        opacity: 0.7;
      }
      :global(.swiper-pagination-bullet-active) {
        background-color: $primary;
        opacity: 1;
      }
      .pagination {
        display: none;
        @include medium() {
          display: block;
        }
      }
    }
  }
}
